@charset "utf-8";
/* CSS Document */
html,body{max-width:750px;margin: auto;}
/*各大字体自适应调整*/
@media (max-width: 239px){
    html{
        font-size: 32px;
    }
}
@media (min-width: 240px){
    html{
        font-size: 32px;
    }
}
@media (min-width: 320px){
    html{
        font-size: 42.666666666666664px;
    }
}
@media (min-width: 360px){
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px){
    html{
        font-size: 50px;
    }
}
@media (min-width: 384px){
    html{
        font-size: 51.2px;
    }
}
@media (min-width: 400px){
    html{
        font-size: 53.333333333333336px;
    }
}
@media (min-width: 412px){
    html{
        font-size:54.93333333333333px;
    }
}
@media (min-width: 414px){
    html{
        font-size:55.2px;
    }
}
@media (min-width: 480px){
    html{
        font-size:64px;
    }
}
@media (min-width: 540px){
    html{
        font-size:72px;
    }
}
@media (min-width: 600px){
    html{
        font-size: 80px;
    }
}
/*在大于640 像素的屏幕*/
@media (min-width: 640px){
    html{
        font-size: 85.33333333333333px;
    }
}
@media (min-width: 750px){
    html{
        font-size:100px;
    }
}
@media (min-width: 768px){
    html{
        font-size:100px;
    }
}
body,* {  font-family: 'Microsoft Yahei', '微软雅黑',sans-serif;/*上下拉动滚动条时卡顿、慢*/  -webkit-overflow-scrolling: touch;  overflow-scrolling: touch;  -webkit-touch-callout: none;/*长时间按住页面出现闪退*/  -webkit-tap-highlight-color:rgba(255,255,255,0);/*ios和android下触摸元素时出现半透明灰色遮罩*/  -webkit-text-size-adjust:100%;/*旋转屏幕时，字体大小调整的问题*/  }
/*标签通用设置*/
a{text-decoration: none;outline: none;border: none}
img{border-style:none; }
ul,li,dl,dt{padding: 0;margin: 0;list-style-type: none}
b,em,i,dfn{font-style: normal;font-weight: normal}
/*字体大小及规颜色*/
.sh_font_sz0{font-size: 0}/*0px*/
.sh_font_sz22{font-size: 0.22rem}/*22px*/
.sh_font_sz28{font-size: 0.28rem}/*28px*/
.sh_font_sz32{font-size: 0.32rem}/*32px*/
.sh_font_color2{color: #fe3c3c}
.sh_font_color4{color: #555555}
.sh_font_color5{color: #333333}
.sh_font_color15{color:#ff8c00}/*index*/
.sh_font_color16{color:#01b7bd}/*index*/
/*背景色*/
.sh_bg_color_1{background-color: #fff}
.sh_bg_color_13{background-color:#e4e6e8}/*index*/
/*定位*/
.sh_positon_r{position: relative}
.sh_positon_f{position: fixed}
/*清楚浮动、浮动*/
.sh_clear:after{clear: both;display:table;content: ' ';}
.sh_float_l{float: left}
/*内容居中*/
.sh_te_align_c{text-align: center}
.sh_te_align_r{text-align: right}
/*行高*/
.sh_lingheight_1_5{line-height: 1.5}
.sh_lingheight_100{line-height:100%}
/*块级及非块级元素*/
.sh_di_block{display:block}
/*阴影*/
.box_shaow{box-shadow: 0 0.01rem 0.15rem #ccc;}
/*边框*/
.sh_bor_a{border: 1px solid #f0f0f0}
.sh_bor_top_w1{border-top: 1px solid #ffa758  }
.sh_bor_top_w2{border-top: 1px solid #01b7bd  }
.sh_bor_bottom_1{border-bottom: 1px solid #f0f0f0  }
.sh_bor_right_3{border-right: 1px solid #dedede}
.sh_border_radius_5{border-radius: 0.05rem}
.sh_box-sizing_C{box-sizing: border-box;}
/*元素垂直与其他居中*/
.sh_v_middle{vertical-align: middle}
/*padding*/
.sh_pd_top10{padding-top: 0.10rem}
.sh_pd_top14{padding-top: 0.14rem}
.sh_pd_top15{padding-top: 0.15rem}
.sh_pd_top20{padding-top: 0.20rem}
.sh_pd_top30{padding-top: 0.30rem}
.sh_pd_top40{padding-top: 0.4rem}
.sh_pd_top50{padding-top: 0.5rem}
.sh_pd_top90{padding-top: 0.9rem}
.sh_pd_bottom10{padding-bottom: 0.10rem}
.sh_pd_bottom14{padding-bottom: 0.14rem}
.sh_pd_bottom15{padding-bottom: 0.15rem}
.sh_pd_bottom20{padding-bottom: 0.20rem}
.sh_pd_bottom30{padding-bottom: 0.30rem}
.sh_pd_bottom40{padding-bottom: 0.4rem}
.sh_pd_left14{padding-left: 0.14rem}
.sh_pd_right14{padding-right: 0.14rem}
/*margin*/
.sh_margin_a{margin: auto}
/*top、left、right、bottom*/
.sh_top_0{top: 0}
.sh_right_0{right: 0}
.sh_left_0{left: 0}
.sh_bottom_0{bottom: 0}
/*宽度、高度*/
.sh_width_max{max-width: 750px;}
.sh_width_92{width: 92%;}
.sh_width_10{width: 83.33%}
.sh_width_8{width: 66.66%}
.sh_width_6{width: 49.9%}
.sh_width_5{width: 41.66%}
.sh_width_4{width: 33.33%}
.sh_width_2{width: 16.66%}
.sh_width_1{width: 8.33%}
.sh_pr_hg30{  height:0.3rem;}
.sh_pr_hg32{  height:0.32rem;}
.sh_pr_hg90{  height:0.9rem;}
.sh_pr_hg100{  height:1rem;}
/*表单元素设置*/
input::-webkit-input-placeholder { vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input::-moz-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input:-ms-input-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input:-moz-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input[type=text],input[type=button],input[type=password]{-webkit-appearance: none;outline: none;border: none;box-sizing: border-box;font-family: 'Microsoft Yahei', '微软雅黑',sans-serif}/*iphone及ipad下输入框默认内阴影*/
/*图片自适应及图片大小设置*/
.sh_img_max{ display: block;margin: auto; max-width: 100%;}
.index_choose{max-height: 0.33rem}
.index_skin{max-height: 0.32rem}
.index_cell{max-height: 1.38rem}
.index_fo{max-height: 0.6rem}
.swiper-pagination-bullet {width: 0.14rem;height: 0.14rem;background-color:#71676d}
.swiper-pagination-bullet-active{width: 0.18rem;height: 0.18rem;background-color: #4588d2}
.index_choose_container{overflow: hidden}
.index_ser_bg{background: none}
.index_logo{max-height: 0.6rem}
.triangle-bottomright{width: 0;height:0;border-bottom:0.15rem solid #444444;border-left:0.15rem solid transparent; position: absolute;right:0;bottom:5%;}
/*index页面end*/
