@charset "utf-8";
/* CSS Document */
html,body{max-width:750px;margin: auto;}
/*各大字体自适应调整*/
@media (max-width: 239px){
    html{
        font-size: 32px;
    }
}
@media (min-width: 240px){
    html{
        font-size: 32px;
    }
}
@media (min-width: 320px){
    html{
        font-size: 42.666666666666664px;
    }
}
@media (min-width: 360px){
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px){
    html{
        font-size: 50px;
    }
}
@media (min-width: 384px){
    html{
        font-size: 51.2px;
    }
}
@media (min-width: 400px){
    html{
        font-size: 53.333333333333336px;
    }
}
@media (min-width: 412px){
    html{
        font-size:54.93333333333333px;
    }
}
@media (min-width: 414px){
    html{
        font-size:55.2px;
    }
}
@media (min-width: 480px){
    html{
        font-size:64px;
    }
}
@media (min-width: 540px){
    html{
        font-size:72px;
    }
}
@media (min-width: 600px){
    html{
        font-size: 80px;
    }
}
/*在大于640 像素的屏幕*/
@media (min-width: 640px){
    html{
        font-size: 85.33333333333333px;
    }
}
@media (min-width: 750px){
    html{
        font-size:100px;
    }
}
@media (min-width: 768px){
    html{
        font-size:100px;
    }
}
body,* {  font-family: 'Microsoft Yahei', '微软雅黑',sans-serif;/*上下拉动滚动条时卡顿、慢*/  -webkit-overflow-scrolling: touch;  overflow-scrolling: touch;  -webkit-touch-callout: none;/*长时间按住页面出现闪退*/  -webkit-tap-highlight-color:rgba(255,255,255,0);/*ios和android下触摸元素时出现半透明灰色遮罩*/  -webkit-text-size-adjust:100%;/*旋转屏幕时，字体大小调整的问题*/  }
/*标签通用设置*/
a{text-decoration: none;outline: none;border: none}
img{border-style:none; }
ul,li,dl,dt{padding: 0;margin: 0;list-style-type: none}
b,em,i,dfn{font-style: normal;font-weight: normal}
/*字体大小及规颜色*/
.sh_font_sz0{font-size: 0}/*0px*/
.sh_font_sz26{font-size: 0.26rem}/*24px*/
.sh_font_sz28{font-size: 0.28rem}/*28px*/
.sh_font_sz34{font-size: 0.34rem}/*34px*/
.sh_font_color6{color: #444444}
.sh_font_color7{color: #777777}
.sh_font_color8{color: #ffffff}
.sh_font_color11{color:#999999}
.sh_font_color12{color:#1b63b0}
/*背景色*/
.sh_bg_color_1{background-color: #fff}
.sh_bg_color_4{background-color: #5fa3e7;}
/*定位*/
.sh_positon_r{position: relative}
.sh_positon_a{position: absolute}
.sh_positon_f{position: fixed}
/*z-index*/
.sh_z-index_10{z-index: 10}
/*清楚浮动、浮动*/
.sh_clear:after{clear: both;display:table;content: ' ';}
.sh_clear_sp{clear: both;}
.sh_float_l{float: left}
/*内容居中*/
.sh_te_align_c{text-align: center}
.sh_te_align_r{text-align: right}
/*行高*/
.sh_lingheight_90{line-height:0.9rem}
.sh_lingheight_100{line-height:100%}
/*阴影*/
.box_shaow{box-shadow: 0 0.01rem 0.15rem #ccc;}/*index+index_ser_shop+index_ser_good+index_ser_goodList*/
/*边框*/
.sh_bor_bottom_2{border-bottom: 1px solid  #1b63ae  }
.sh_bor_right_3{border-right: 1px solid #dedede}
.sh_border_radius_5{border-radius: 0.05rem}
.sh_outline{outline: 1px solid #eeeeee}
.sh_box-sizing_C{box-sizing: border-box;}
/*元素垂直与其他居中*/
.sh_v_middle{vertical-align: middle}
/*超出虚线*/
.sh_ellipsis{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;overflow: hidden}
/*padding*/
.sh_pd_top10{padding-top: 0.10rem}
.sh_pd_top28{padding-top: 0.28rem}
.sh_pd_top30{padding-top: 0.30rem}
.sh_pd_top50{padding-top: 0.5rem}
.sh_pd_top90{padding-top: 0.9rem}
.sh_pd_bottom10{padding-bottom: 0.10rem}
.sh_pd_bottom20{padding-bottom: 0.20rem}
.sh_pd_bottom28{padding-bottom: 0.28rem}
.sh_pd_left14{padding-left: 0.14rem}
.sh_pd_left70{padding-left: 0.7rem}
.sh_pd_right14{padding-right: 0.14rem}
.sh_pd_right36{padding-right: 0.36rem}
/*margin*/
.sh_margin_a{margin: auto}/*index+index_ser_shop+index_ser_good+index_ser_goodList+pro_de_intr*/
.sh_margin_r{margin-right: 0}
.sh_margin_b_44{margin-bottom:0.44rem}
.sh_margin_b_70{margin-bottom:0.7rem}
.sh_margin_t_20{margin-top:0.2rem}
.sh_margin_l_0{margin-left:0}
.sh_margin_l_18{margin-left:0.18rem}
/*top、left、right、bottom*/
.sh_top_0{top: 0}
.sh_bottom_1{bottom: 10%}
.sh_right_0{right: 0}
.sh_left_0{left: 0}
/*宽度、高度*/
.sh_width_max{max-width: 750px;}
.sh_width_92{width: 92%;}
.sh_width_12{width:100%}
.sh_width_10{width: 83.33%}
.sh_width_8{width: 66.66%}
.sh_width_6{width: 49.9%}
.sh_width_2{width: 16.66%}
.sh_pr_hg50{  height:0.5rem;}
.sh_pr_hg75{  height:0.75rem;}
.sh_pr_hg90{  height:0.9rem;}
/*表单元素设置*/
input::-webkit-input-placeholder { vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input::-moz-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input:-ms-input-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input:-moz-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input[type=text],input[type=button],input[type=password]{-webkit-appearance: none;outline: none;border: none;box-sizing: border-box;font-family: 'Microsoft Yahei', '微软雅黑',sans-serif}/*iphone及ipad下输入框默认内阴影*/
/*图片自适应及图片大小设置*/
.sh_img_max{ display: block;margin: auto; max-width: 100%;}
.pro_intrHead_left_a,.index_left_a{max-height: 0.32rem}
.sh_login_user{background: url("../demo/login_user.png") no-repeat left center;background-size: 0.33rem 0.35rem}
.sh_login_pwd{background: url("../demo/login_psd.png") no-repeat left center;background-size: 0.33rem 0.35rem}
.login_other_img{max-width: 1.38rem}
.login_psd_e{max-width: 0.35rem;bottom: 20%;right: 5%}
/*login页面end*/
