@charset "utf-8";
/* CSS Document */
html,body{max-width:750px;margin: auto;}
/*各大字体自适应调整*/
@media (max-width: 239px){
    html{
        font-size: 32px;
    }
}
@media (min-width: 240px){
    html{
        font-size: 32px;
    }
}
@media (min-width: 320px){
    html{
        font-size: 42.666666666666664px;
    }
}
@media (min-width: 360px){
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px){
    html{
        font-size: 50px;
    }
}
@media (min-width: 384px){
    html{
        font-size: 51.2px;
    }
}
@media (min-width: 400px){
    html{
        font-size: 53.333333333333336px;
    }
}
@media (min-width: 412px){
    html{
        font-size:54.93333333333333px;
    }
}
@media (min-width: 414px){
    html{
        font-size:55.2px;
    }
}
@media (min-width: 480px){
    html{
        font-size:64px;
    }
}
@media (min-width: 540px){
    html{
        font-size:72px;
    }
}
@media (min-width: 600px){
    html{
        font-size: 80px;
    }
}
/*在大于640 像素的屏幕*/
@media (min-width: 640px){
    html{
        font-size: 85.33333333333333px;
    }
}
@media (min-width: 750px){
    html{
        font-size:100px;
    }
}
@media (min-width: 768px){
    html{
        font-size:100px;
    }
}
body,* {  font-family: 'Microsoft Yahei', '微软雅黑',sans-serif;/*上下拉动滚动条时卡顿、慢*/  -webkit-overflow-scrolling: touch;  overflow-scrolling: touch;  -webkit-touch-callout: none;/*长时间按住页面出现闪退*/  -webkit-tap-highlight-color:rgba(255,255,255,0);/*ios和android下触摸元素时出现半透明灰色遮罩*/  -webkit-text-size-adjust:100%;/*旋转屏幕时，字体大小调整的问题*/  }
/*标签通用设置*/
a{text-decoration: none;outline: none;border: none}
img{border-style:none; }
ul,li,dl,dt{padding: 0;margin: 0;list-style-type: none}
b,em,i,dfn{font-style: normal;font-weight: normal}
/*字体大小及规颜色*/
.sh_font_sz0{font-size: 0}/*0px*/
.sh_font_sz28{font-size: 0.28rem}/*28px*/
.sh_font_sz30{font-size: 0.3rem}/*30px*/
.sh_font_sz34{font-size: 0.34rem}/*34px*/
.sh_font_color6{color: #444444}
.sh_font_color8{color: #ffffff}/*pro_de_intr*/
/*背景色*/
.sh_bg_color_1{background-color: #fff}
/*定位*/
.sh_positon_r{position: relative}
.sh_positon_f{position: fixed}
/*z-index*/
.sh_z-index_10{z-index: 10}
/*清楚浮动、浮动*/
.sh_clear:after{clear: both;display:table;content: ' ';}
.sh_float_l{float: left}
.sh_float_r{float: right}
/*内容居中*/
.sh_te_align_c{text-align: center}
.sh_te_align_r{text-align: right}
/*行高*/
.sh_lingheight_90{line-height:0.9rem}
.sh_lingheight_100{line-height:100%}
/*阴影*/
.box_shaow{box-shadow: 0 0.01rem 0.15rem #ccc;}
/*边框*/
.sh_bor_a_10{border-style: solid;border-color: #91779d;border-width: 0.1rem}
.sh_bor_bottom_1{border-bottom: 1px solid #f0f0f0  }
.sh_bor_right_3{border-right: 1px solid #dedede}
.sh_border_radius_50{border-radius:50%}
.sh_box-sizing_C{box-sizing: border-box;}
/*字体间距*/
.sh_wor_space{word-spacing: 0.12rem}
/*元素垂直与其他居中*/
.sh_v_middle{vertical-align: middle}
/*超出虚线*/
.sh_ellipsis{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;overflow: hidden}
/*padding*/
.sh_pd_top10{padding-top: 0.10rem}
.sh_pd_top20{padding-top: 0.20rem}
.sh_pd_top28{padding-top: 0.28rem}
.sh_pd_top30{padding-top: 0.30rem}
.sh_pd_top90{padding-top: 0.9rem}
.sh_pd_bottom10{padding-bottom: 0.10rem}
.sh_pd_bottom20{padding-bottom: 0.20rem}
.sh_pd_bottom28{padding-bottom: 0.28rem}
.sh_pd_bottom30{padding-bottom: 0.30rem}
.sh_pd_left30{padding-left: 0.30rem}
.sh_pd_right14{padding-right: 0.14rem}
.sh_pd_right36{padding-right: 0.36rem}
/*margin*/
.sh_margin_a{margin: auto}
/*top、left、right、bottom*/
.sh_top_0{top: 0}
.sh_right_0{right: 0}
.sh_left_0{left: 0}
/*宽度、高度*/
.sh_width_max{max-width: 750px;height: 100%}
.sh_width_92{width: 92%;}
.sh_width_8{width: 66.66%}
.sh_width_5{width: 41.66%}
.sh_width_2{width: 16.66%}
.sh_width_162{width:1.62rem}
.sh_pr_hg18_92{height:18.92%;}
.sh_pr_hg28_62{height:28.62%;}
.sh_pr_hg37_84{height:37.84%;}
.sh_pr_hg43_24{height:43.24%;}
.sh_pr_hg52_46{height:52.46%;}
.sh_pr_hg90{  height:0.9rem;}
.sh_pr_hg162{  height:1.62rem;}
.sh_pr_hg370{  height:3.7rem;}
/*分割项*/
.sh_separate20{height: 0.2rem;}/*pro_de_intr*/
/*表单元素设置*/
input::-webkit-input-placeholder { vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input::-moz-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input:-ms-input-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input:-moz-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input[type=text],input[type=button],input[type=password]{-webkit-appearance: none;outline: none;border: none;box-sizing: border-box;font-family: 'Microsoft Yahei', '微软雅黑',sans-serif}/*iphone及ipad下输入框默认内阴影*/
/*图片自适应及图片大小设置*/
.sh_img_max{ display: block;margin: auto; max-width: 100%;}
.pro_intrHead_left_a,.index_left_a{max-height: 0.32rem}
.pers_ctr{max-width: 0.7rem;max-height: 0.7rem}
.pers_ctr_arbg{background: url('../demo/pro_intrSize_choose.png') no-repeat right center;background-size: 0.18rem 0.3rem}
.pers_ctr_banner{background:url('../demo/pers_ctr_banner.png') no-repeat center ;background-size:cover}
.pers_ctr_input{max-height:100%}
/*p_center页面*/
