@charset "utf-8";
/* CSS Document */
html,body{max-width:750px;margin: auto;}
/*各大字体自适应调整*/
@media (max-width: 239px){
    html{
        font-size: 32px;
    }
}
@media (min-width: 240px){
    html{
        font-size: 32px;
    }
}
@media (min-width: 320px){
    html{
        font-size: 42.666666666666664px;
    }
}
@media (min-width: 360px){
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px){
    html{
        font-size: 50px;
    }
}
@media (min-width: 384px){
    html{
        font-size: 51.2px;
    }
}
@media (min-width: 400px){
    html{
        font-size: 53.333333333333336px;
    }
}
@media (min-width: 412px){
    html{
        font-size:54.93333333333333px;
    }
}
@media (min-width: 414px){
    html{
        font-size:55.2px;
    }
}
@media (min-width: 480px){
    html{
        font-size:64px;
    }
}
@media (min-width: 540px){
    html{
        font-size:72px;
    }
}
@media (min-width: 600px){
    html{
        font-size: 80px;
    }
}
/*在大于640 像素的屏幕*/
@media (min-width: 640px){
    html{
        font-size: 85.33333333333333px;
    }
}
@media (min-width: 750px){
    html{
        font-size:100px;
    }
}
@media (min-width: 768px){
    html{
        font-size:100px;
    }
}
body,* {  font-family: 'Microsoft Yahei', '微软雅黑',sans-serif;/*上下拉动滚动条时卡顿、慢*/  -webkit-overflow-scrolling: touch;  overflow-scrolling: touch;  -webkit-touch-callout: none;/*长时间按住页面出现闪退*/  -webkit-tap-highlight-color:rgba(255,255,255,0);/*ios和android下触摸元素时出现半透明灰色遮罩*/  -webkit-text-size-adjust:100%;/*旋转屏幕时，字体大小调整的问题*/  }
/*标签通用设置*/
a{text-decoration: none;outline: none;border: none}
img{border-style:none; }
ul,li,dl,dt{padding: 0;margin: 0;list-style-type: none}
b,em,i,dfn{font-style: normal;font-weight: normal}
/*字体大小及规颜色*/
.sh_font_sz0{font-size: 0}
.sh_font_sz20{font-size: 0.2rem}/*20px*/
.sh_font_sz24{font-size: 0.24rem}/*24px*/
.sh_font_sz28{font-size: 0.28rem}/*28px*/
.sh_font_sz32{font-size: 0.32rem}/*32px*/
.sh_font_sz34{font-size: 0.34rem}/*34px*/
.sh_font_color1{color: #223340}
.sh_font_color2{color: #fe3c3c}
.sh_font_color3{color: #808080}
.sh_font_color4{color: #555555}
.sh_font_color6{color: #444444}
.sh_font_color8{color: #ffffff}
.sh_font_color13{color:#666666}
/*背景色*/
.sh_bg_color_1{background-color: #fff}
.sh_bg_color_3{background-color: #eeeeee;}
.sh_bg_color_5{background-color: red;}
.sh_fo_bg2{background-color:#fe9200}
.sh_fo_bg3{background-color:#f8b85f}
/*定位*/
.sh_positon_r{position: relative}
.sh_positon_a{position: absolute}
.sh_positon_f{position: fixed}
/*z-index*/
.sh_z-index_10{z-index: 10}
.sh_z-index_999{z-index: 999}
/*清楚浮动、浮动*/
.sh_clear:after{clear: both;display:table;content: ' ';}
.sh_float_l{float: left}
/*字体*/
.sh_font_500{font-weight: 500}
/*内容居中*/
.sh_te_align_c{text-align: center}
.sh_te_align_r{text-align: right}
/*行高*/
.sh_lingheight_1_5{line-height: 1.5}
.sh_lingheight_48{line-height:0.48rem}
.sh_lingheight_40{line-height:0.40rem}
.sh_lingheight_90{line-height:0.9rem}
.sh_lingheight_100{line-height:100%}
/*块级及非块级元素*/
.sh_di_block{display:block}
/*阴影*/
.box_shaow{box-shadow: 0 0.01rem 0.15rem #ccc;}
/*边框*/
.sh_box-sizing_C{box-sizing: border-box;}
.sh_bor_a{border: 1px solid #f0f0f0}
.sh_bor_top_w4{border-top-width:0.04rem  }
.sh_bor_top_1{border-top: 1px solid #f0f0f0  }
.sh_bor_bottom_1{border-bottom: 1px solid #f0f0f0  }
.sh_bor_right_1{border-right: 1px solid #f0f0f0}
.sh_bor_right_3{border-right: 1px solid #dedede}
.sh_bor_left_1{border-left: 1px solid #f0f0f0}
.sh_border_radius_5{border-radius: 0.05rem}
.sh_outline{outline: 1px solid #eeeeee}
/*字体间距*/
.sh_wor_space{word-spacing: 0.12rem}
/*元素垂直与其他居中*/
.sh_v_middle{vertical-align: middle}
/*超出虚线*/
.sh_ellipsis{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;overflow: hidden}
/*选项卡显示项及隐藏项*/
.sh_tab_box{color: #949494;background-color: #f8f8f8}/*pro_de_intr*/
.sh_tab{display: none;}/*pro_de_intr*/
.sh-show{display:block;}/*pro_de_intr*/
.sh_tab_box li{border-bottom: 1px solid #f2f2f2;border-top-color:#f8f8f8;border-top-style: solid }/*/*pro_de_intr*/
.sh_tab_box li.sh_active{color: #222222;border-bottom:1px solid #fff;background-color: #fff;border-top-color:#4ca3fd;border-top-style: solid}/*pro_de_intr*/
/*padding*/
.sh_pd_top10{padding-top: 0.10rem}
.sh_pd_top28{padding-top: 0.28rem}
.sh_pd_top30{padding-top: 0.30rem}
.sh_pd_top32{padding-top: 0.32rem}
.sh_pd_top34{padding-top: 0.34rem}
.sh_pd_top40{padding-top: 0.4rem}
.sh_pd_top90{padding-top: 0.9rem}
.sh_pd_bottom10{padding-bottom: 0.10rem}
.sh_pd_bottom14{padding-bottom: 0.14rem}
.sh_pd_bottom28{padding-bottom: 0.28rem}
.sh_pd_bottom30{padding-bottom: 0.30rem}
.sh_pd_bottom32{padding-bottom: 0.32rem}
.sh_pd_bottom33{padding-bottom: 0.33rem}
.sh_pd_left8{padding-left: 0.08rem}
.sh_pd_left14{padding-left: 0.14rem}
.sh_pd_right8{padding-right: 0.08rem}
.sh_pd_right14{padding-right: 0.14rem}
.sh_pd_right36{padding-right: 0.36rem}
/*margin*/
.sh_margin_a{margin: auto}
.sh_margin_r{margin-right: 0}
.sh_margin_t_20{margin-top:0.2rem}
/*top、left、right、bottom*/
.sh_top_0{top: 0}
.sh_bottom_0{bottom: 0}
.sh_right_0{right: 0}
.sh_left_0{left: 0}
/*宽度、高度*/
.sh_width_max{max-width: 750px;}
.sh_width_92{width: 92%;}
.sh_width_12{width: 100%}
.sh_width_11{width: 91.66%}
.sh_width_10{width: 83.33%}
.sh_width_8{width: 66.66%}
.sh_width_6{width: 49.9%}
.sh_width_5{width: 41.66%}
.sh_width_4{width: 33.33%}
.sh_width_3{width: 24.9%}
.sh_width_2{width: 16.66%}
.sh_width_18{width:18%}
.sh_width_61{width:61%}
.sh_width_260{width:2.6rem}
.sh_pr_hg48{  height:0.48rem;}
.sh_pr_hg50{  height:0.5rem;}
.sh_pr_hg90{  height:0.9rem;}
.sh_pr_hg100{  height:1rem;}
/*分割项*/
.sh_separate20{height: 0.2rem;}
/*表单元素设置*/
input::-webkit-input-placeholder { vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input::-moz-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input:-ms-input-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input:-moz-placeholder {vertical-align: middle;line-height: normal;color:#949796;font-size: 0.26rem;}
input[type=text],input[type=button],input[type=password]{-webkit-appearance: none;outline: none;border: none;box-sizing: border-box;font-family: 'Microsoft Yahei', '微软雅黑',sans-serif}/*iphone及ipad下输入框默认内阴影*/
/*图片自适应及图片大小设置*/
.sh_img_max{ display: block;margin: auto; max-width: 100%;}
.pro_intrHead_left_a,.index_left_a{max-height: 0.32rem}
.pro_intrStore_f{max-height: 0.98rem}/*详情页底部收藏购物车按钮*/
.pro_intrSize_choose{max-height: 0.30rem}/*详情页规格数量选择*/
.pro_intrSend_labe{max-height:0.34rem;}/*详情页规格送货选择*/
#backToTop{ position: fixed;bottom:1.4rem;cursor: pointer;  right:0.3rem;}/*详情页置顶按钮*/
.backToTop img {max-width:0.76rem;}
.sh_cart{border-radius: 0.2rem;top:10%;right:20%;display: none}/*详情页购物车图标*/
.goo_size_banner{max-width: 1.98rem;max-height: 1.98rem}
.good_size_min{background: url("../demo/good_size_min.png") no-repeat center;background-size: 0.3rem 0.3rem}
.good_size_plus{background: url("../demo/good_size_plus.png") no-repeat center;background-size: 0.3rem 0.3rem}
.sys_item_specpara li a{ border:1px solid #dcdcdc;}
.sys_item_specpara li.pro_de_sizeNn a{ border:none;}
.sys_item_specpara li.selected a{ border:1px solid #4ca3fd;color:#4ca3fd}
.pro_de_wr{max-width: 0.3rem}
.disabled { cursor: not-allowed; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; opacity: .65 }
#sys_spec_ok.disabled {opacity: 1; background: #ccc;}
.swiper-pagination-bullet {width: 0.14rem;height: 0.14rem;background-color:#71676d}
.swiper-pagination-bullet-active{width: 0.18rem;height: 0.18rem;background-color: #4588d2}
.popup_cover {  display: none;width: 100%;  height: 100%;  background: rgba(0,0,0,0.3);position: fixed;top: 0;left: 0;z-index: 21;}
/*pro_de_intr页面end*/

